{% extends "::base.html.twig" %}


{% block body %}

    <h1>Emails</h1>
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>ID</th>
            <th>created</th>
            <th>To</th>
            <th>Result</th>
        </tr>
        {% for email in emails %}
            <tr>
            <td>{{ email.id }}</td>
            <td>{{ email.createdAt|date('c') }}</td>
            <td>{{ email.recipient }}</td>
            <td>{{ email.result }}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>
    <h2>Send</h2>
    <form enctype='application/json' action="{{ path('post_emails') }}" method="POST">
        <textarea class="form-control" name="json">[
{
"from": "…",
"to": "…",
"subject": "…",
"message": "…"
},
{
"from": "…",
"to": "…",
"subject": "…",
"message": "…"
}
]</textarea>
        <button class="btn btn-primary" type="submit">Submit Json</button>
    </form>
{% endblock %}

